.container{
    width: 100%;
    /* background-color: hsl(87, 73%, 54%); */
    margin: 0 auto;
    padding:0 1.5rem ;
   
}
@media(min-width:576px) {
    .container{
        width: 54rem;
        
    }
}
@media(min-width:768px){
    .container{
        width: 72rem;
       
    }
}
@media(min-width:992px) {
    .container{
        width: 96rem;
    
    }
}
@media(min-width:1200px) {
    .container{
        width: 114rem;
       
    }
}
@media(min-width:1400px) {
    .container{
        width: 137rem;
       
    }
}
/* -------------------------------------------------------------------------------------------- */
/* @media(max-width:1000px) {
    .container{
        width:900px;
        background-color: cadetblue;
    }
}
@media(max-width:900px) {
    .container{
        width: 800px;
        background-color: rgb(65, 18, 61);
    }
}
@media(max-width:800px) {
    .container{
        width: 700px;
        background-color: rgb(94, 195, 11);
    }
}
@media(max-width:700px) {
    .container{
        width: 500px;
        background-color: rgb(217, 102, 19);
    }
} */